extends base.pug

block content
    div#videoContainer(data-id=video._id)
        video(src=video.fileUrl)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div
                span#fullScreen
                    i.fas.fa-expand
    div.video__data
        p.video__title=video.title
        div
            small.video__views 조회수 #{video.meta.views}회 • 
            small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", { year: 'numeric', month: 'long', day: 'numeric'})
        small.video__owner
            a(href=`/user/${video.owner._id}`)=video.owner.name
        div.video__edit
            if String(video.owner._id) === String(loggedInUser._id)
                small
                    a(href=`${video.id}/edit`) 동영상 편집
                small
                    a(href=`${video.id}/delete`) 동영상 삭제
    if loggedIn
        div.video__add-comments
            form.video__comment-form#commentForm
                input(type="text" placeholder="공개 댓글 추가")
                input(type="submit" value="댓글")
    div.video__comments
        ul
            each comment in video.comments.reverse()
                li.video__comment(data-id=comment.id)
                    span #{comment.ownerName}
                    div #{comment.text}
                    hr
                    if String(comment.owner._id) === String(loggedInUser._id)
                        div.video__comment-btn
                            span.video__comment-edit 수정
                            span.video__comment-delete 삭제
block scripts
    script(src="/assets/js/videoPlayer.js")
    if(loggedIn)
        script(src="/assets/js/commentSection.js")